<div class="ramschema-container">
  <h2 class="schedule-table">MITT RAMSCHEMA</h2>

  <div>
    <p *ngIf="selectedCourses.length === 0">Inga kurser tillagda än.</p>

    <table *ngIf="selectedCourses.length > 0" >
      <thead>
        <tr>
          <th>Kurskod</th>
          <th>Kursnamn</th>
          <th>Poäng</th>
          <th>Ämne</th>
          <th>Kursplan</th>
          <th>Ta bort</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of selectedCourses">
          <td>{{ course.courseCode }}</td>
          <td>{{ course.courseName }}</td>
          <td>{{ course.points }}</td>
          <td>{{ course.subject }}</td>
          <td>
            <a [href]="course.syllabus" target="_blank">Visa kursplan</a>
          </td>
          <td>
            <button class="remove-button" (click)="removeFromSchedule(course)">Ta bort</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <h3 *ngIf="selectedCourses.length > 0"  class="total-points" >Total poäng: {{ totalPoints }}</h3>
</div>
