.ramschema-container {
  padding: 2rem;
  margin: auto;
  max-width: 1000px;
  width: fit-content;
  
}
.schedule-table {
  width: 100%;
  background-color: white;
  padding-bottom: 10px;
  padding-top: 10px;
  border-collapse: collapse;
  margin-top: 1rem;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  
}
.schedule-table th,
.schedule-table td {
  text-align: left;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  

}

.schedule-table th {
  color: #555;
  background-color: #f3f3f3;
  width: fit-content;
}

.remove-button {
  background-color: #e53935;
  color: white;
  border: none;
  padding: 4px 12px;
  border-radius: 8px;
  cursor: pointer;
  
}

.remove-button:hover {
  background-color: #961a1a;
}

.total-points {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 1rem;
}
/* Media query */
@media (max-width: 768px) {
  .schedule-table {
    display: block;
    white-space: nowrap;
    overflow-x: auto;
    
  }
  .ramschema-container {
    padding: 1rem;
    font-size: small;
  }
  
  .remove-button {
    width: 100%;
    padding: 8px 0;
  }
  .total-points {
    text-align: center;
    
  }
}