/* You can add global styles to this file, and also import other style files */
/* Global stil */
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  color: #333;
  background-color: #f9f9f9;
}
h1, h2, h3 {
  color: #3f3f3f;
}
a {
  text-decoration: none;
  color: #7b1fa2;
  
}
a:hover {
  text-decoration: underline;
}
input, select, button {
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #ccc;
  border-radius: 10px;
  font-size: 1rem;
}


/*  Media query */
@media (max-width: 768px) {
  body {
    font-size: 0.95rem;
    padding: 0 0.5rem;
  }

  input, select, button {
    width: 100%;
    font-size: 1rem;
  }

  h1 {
    font-size: 1.6rem;
  }
  h2 {
    font-size: 1.3rem;
  }
  h3 {
    font-size: 1.1rem;
  }
}